<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<div th:fragment="leftMenu">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav slimscrollsidebar">
            <div class="sidebar-head">
                <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span
                        class="hide-menu">Navigation</span></h3>
            </div>
            <ul class="nav" id="side-menu">
                <li style="padding: 70px 0 0;">
                    <a th:href="@{/admin/userList}" class="waves-effect"><i class="fa fa-user fa-fw"
                                                                          aria-hidden="true"></i>用户管理</a>
                </li>

                <li>
                    <a th:href="@{/admin/knowledgeList}" class="waves-effect"><i class="fa fa-table fa-fw"
                                                                               aria-hidden="true"></i>知识结构管理</a>
                </li>

                <li>
                    <a th:href="@{/admin/questionList}" class="waves-effect"><i class="fa fa-columns fa-fw"
                                                                              aria-hidden="true"></i>题库管理</a>
                </li>
                <li>
                    <a th:href="@{/admin/questionOption}" class="waves-effect"><i class="fa fa-columns fa-fw"
                                                                              aria-hidden="true"></i>试题选项管理</a>
                </li>

            </ul>
        </div>
    </div>
</div>
</html>