<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ot.dao.UserDao" >
  <sql id="BASE_TABLE">
    ot_user
  </sql>

  <sql id="BASE_COLUMN">
    user_id,username,password,gender,createTime,updateTime,is_delete,salt
  </sql>

  <sql id="REGISTER_COLUMN">
    username,password,gender,createTime,updateTime,salt
  </sql>

  <insert id="insertUser" parameterType="com.ot.model.User">
    insert into ot_user
    <include refid="REGISTER_COLUMN"/>
    VALUES (#{username},#{password},#{gender},#{createTime},#{updateTime},#{salt})
  </insert>
  <insert id="insert" parameterType="com.ot.model.UserDomain">
    INSERT INTO
      <include refid="BASE_TABLE"/>
    <trim prefix="(" suffix=")" suffixOverrides=",">
      userName,password,
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
      #{userName, jdbcType=VARCHAR},#{password, jdbcType=VARCHAR},
      <if test="phone != null">
        #{phone, jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="checkUser" parameterType="com.ot.model.User" resultType="com.ot.model.User">
    select
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where username=#{username} and password=#{password}
  </select>

  <select id="selectUsers" resultType="com.ot.model.User">
      SELECT
        <include refid="BASE_COLUMN"/>
      FROM
        <include refid="BASE_TABLE"/>
  </select>

  <select id="getUserByName" resultType="com.ot.model.User" parameterType="String">
    SELECT
    <include refid="BASE_COLUMN"/>
    FROM
    <include refid="BASE_TABLE"/>
    where
    username = #{username}
  </select>



</mapper>